.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my code: */
/*
colors scheme:
Dark #3D445E

Mid #3B8E96

Light #4EB4B0


*/
.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #3d445e;
}

.userCard {
  width: 29%;
  margin: 1.5%;
  background-color: #3b8e96;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.innerUserCard {
  border-radius: 15px;
  width: 75%;
  margin-bottom: 6%;
  background-color: rgba(245, 177, 46, 0.2);
}

.userImage {
  width: 45%;
  margin-bottom: 1em;
  border-radius: 100%;
  border: 4px solid #3b8e96;
}

.userQuote {
  width: 75%;
  margin-bottom: 6%;
  height: 5em;
  font-size: 1.5em;
  margin: auto;
}
