.App {
  background-color: lavender;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my code: */
.container {
  display: grid;
  grid-template-columns: 32% auto 32%;
  grid-column-gap: 1em;
  margin-top: 1em;
}

.leftSide {
  display: grid;
  grid-template-rows: 40vh auto;
}

.dashboardProfileCard {
  display: grid;
  grid-template-rows: outo;
  width: 70%;
  justify-self: end;
  background-color: white;
}

.dashboardImages {
  display: grid;
  grid-template-rows: 100% 7%;
  align-self: stretch;
}
.dashboardProfileCard .userImage {
  width: 15%;
  justify-self: start;
  border: white solid 4px;
  margin-left: 1em;
  /* margin-bottom: 5%; */
}

.theme {
  max-height: 100%;
  justify-self: stretch;
}

.dashboardProfileCard .userName {
  justify-self: center;
  /* padding-bottom: 20%; */
  margin-left: -4em;
}

.userNumbers {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: gray;
}

.userNumbersItem {
  font-size: 1.5em;
  font-weight: bold;
}

.userHandle {
  color: gray;
  margin-top: 0%;
}

.userCard {
  margin: 1px;
  padding: 1em;
  background-color: white;
  display: grid;
  grid-template-columns: 7% auto;
  grid-template-rows: outo;
  grid-column-gap: 1em;
}

.userImage {
  width: 100%;
  border-radius: 100%;
  border: 4px solid #3b8e96;
  place-self: center;
}

.userQuote {
  text-align: start;
  font-size: 1.2em;
  grid-column-start: 2;
  margin: 0%;
  margin-top: -0.5em;
  padding-right: 1em;
}

.userName {
  text-align: left;
  margin: 0%;
}
